:root {
    --flymov-gray: #6D6E71;
    --flymov-gray-light: #E7E3E1;
    --flymov-blue-primary: #03558B;
    --flymov-blue-secondary: #0087C5;
    --flymov-blue-light: #DBF0F0;
    --flymov-red: #DA1C5C;
    --flymov-yellow: #E5A923;
    --flymov-green:  #03A687;
    --flymov-degrade: linear-gradient(90deg, #E5A923 12%, #DA1C5C 50%, #942E6B 60%, #553F78 71%, #284A82 79%, #0D5288 86%, #03558B 90%);
}

.text-flymov-gray{color: var(--flymov-gray);}
.text-flymov-gray-light{color: var(--flymov-gray-light);}
.text-flymov-blue-primary{color: var(--flymov-blue-primary);}
.text-flymov-blue-secondary{color: var(--flymov-blue-secondary);}
.text-flymov-blue-light{color: var(--flymov-blue-light);}
.text-flymov-red{color: var(--flymov-red);}
.text-flymov-yellow{color: var(--flymov-yellow);}
.text-flymov-green{color: var(--flymov-green);}
.text-flymov-degrade{color: var(--flymov-degrade);}


/* HOME */
/*Hero Banner*/
.main_hero{
    background-size: cover!important;
}

.main_hero .container{padding: 90px 0;}
.main_hero .content{padding: 100px 0 10px 0;}
.main_hero .brand{max-width: 866px;}
.main_hero .cta{font-style: normal;font-weight: 500;font-size: 13px;line-height: 15px;padding: 10px;margin-top: 200px;display: inline-block;text-align: center;text-transform: uppercase;color: var(--flymov-gray);border: 1px solid var(--flymov-gray);}

.main_hero_pages{ min-height: 790px;}
.main_hero_pages .container{}
.main_hero_pages h1{font-style: normal; font-weight: 300;font-size: 40px;line-height: 47px;text-transform: uppercase; color: var(--flymov-blue-primary); }
.main_hero_pages h1 span{font-weight: 500; display: block;}

.navbar-nav .nav-item{ text-transform: uppercase; font-weight: 500; letter-spacing: 0.02em; color:#FFFFFF;}
.navbar-dark .navbar-nav .nav-link{ color: rgba(255,255,255, 1) !important; }
.navbar-dark .navbar-nav .nav-link:hover{ color: var(--flymov-blue-primary)!important; transition: 0.2s; }

.pages h3{font-style: normal;font-weight: 500;font-size: 32px; line-height: 38px;letter-spacing: 0.2em;text-transform: uppercase; color: var(--flymov-blue-primary)}
.pages h4{font-style: normal;font-weight: 600;font-size: 20px; line-height: 30px; text-transform: uppercase; color: var(--flymov-blue-secondary)}
.pages p{font-style: normal; font-weight: 500;font-size: 18px;line-height: 30px; color: var(--flymov-gray)}


/*Category*/

.page_category{}
/*.page_category article img{width: 100%; height: auto;}*/

.page_category .page_article{ overflow: hidden;}
.page_category .page_article .content{  padding: 25px; border-left: 2px solid var(--flymov-gray-light);}
.page_category .page_article .content h2{line-height: 0em;}
.page_category .page_article .content h2 a{font-size: 16px;  font-style: normal; font-weight: 700; line-height: 30px; text-transform: uppercase; color: var(--flymov-gray); }
.page_category .page_article .content .category_name{font-size: 16px; font-style: normal; font-weight: 500;line-height: 30px; color: var(--flymov-gray); }
.page_category .page_article .content .readmore{font-size: 14px;  font-style: normal;font-weight: 700; line-height: 30px; color: var(--flymov-gray); text-transform: uppercase; }

/*Page Single*/
.page_single .attachment-post-thumbnail{display: none;}
.page_single .title{ position:relative; font-style: normal; font-weight: 500;font-size: 30px;line-height: 21px;text-transform: uppercase; color: var(--flymov-blue-primary); }
.page_single .title::before{content: '';width: 114px;height: 2px;background: var(--flymov-blue-primary);position:absolute;top: 0; right: calc(100% + 30px);}

.page_single .page_single_next{font-style: normal;font-weight: 500;font-size: 18px; line-height: 30px; text-transform: uppercase; color: var(--flymov-gray); mix-blend-mode: normal;opacity: 0.5;}
.page_single .page_single_next img{width: 26px;}
.page_single p { font-size: 16px; font-style: normal;font-weight: 500;line-height: 30px;text-transform: capitalize; color: var(--flymov-gray); mix-blend-mode: normal;}
.page_single h3{ margin-top: 60px; font-size: 16px; font-style: normal;font-weight: 700;line-height: 30px;text-transform: capitalize; color: var(--flymov-gray); mix-blend-mode: normal;}
.sidebar_nav .nav-links a:hover{ text-decoration: none;}

.nav-links{display: flex;}

.flex-fill{flex: 1 1 auto !important;}
.btn_outline{
    border: 1px solid var(--flymov-gray);
    padding: 8px 20px;
    color: var(--flymov-gray);
    font-size: 12px;
    font-weight: 500;
    text-transform:uppercase;
    width: auto;
}

/*Conheça nossas linhas de pesquisa*/

.main_linha_pesquisa{
    color: var(--flymov-gray);
    background-color: rgba(217, 217, 217, 0.2);
}

.main_linha_pesquisa .header h2{
    text-align: center;
    color: var(--flymov-blue-primary);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.main_linha_pesquisa article{
    border-right: 2px solid #E7E3E1;
}

.main_linha_pesquisa article:last-of-type{
    border-right: none;
}

.main_linha_pesquisa article h3{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 0;
    line-height: 1em;
}

.main_linha_pesquisa article p{
    font-weight: 500;
    font-size: 13px;
    line-height: 1em;
    margin-bottom: 0;
}

/*Página Oportunidades*/
.categoria_oportunidades{}
.categoria_oportunidades .content{position:relative; overflow:hidden; border-radius: 10px; padding: 30px;}
.categoria_oportunidades .content .bg{position:absolute; top:0; left:0; width:100%; height:100%; z-index: -1; background: #F3F3F3; opacity: 0.5; border-radius: 10px;}
.categoria_oportunidades .content h3{font-style: normal;font-weight: 700;font-size: 18px;line-height: 25px;text-transform: uppercase;color: var(--flymov-blue-primary);mix-blend-mode: normal; margin: 0; padding: 0 30px;}
.categoria_oportunidades .content::before{
    content: '';
    position: absolute;
    top: calc(50% - 18px); left:0;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 21px solid #FFFFFF;
}


.nav_oportunidades_tabs{ display: block; width:100%; border-bottom: 1.5px solid #D6D1CF; }
.nav_oportunidades_tabs a{color: #C8C8C8; font-style: normal;font-weight: 700;font-size: 21px;line-height: 25px;text-transform: uppercase;mix-blend-mode: normal;}
.nav_oportunidades_tabs a.active{color: var(--flymov-blue-primary);}
.nav_oportunidades_tabs a:hover{text-decoration: none;}

.article_oportunidade_box{ position: relative; min-height:283px; background: rgba(243, 243, 243, 0.5); border-radius: 10px; padding: 20px 30px 10px;}
.article_oportunidade_box::before{
    content: '';
    position: absolute;
    top: 30px; left:0;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 21px solid #FFFFFF;
}
.article_oportunidade_box .category{font-style: normal; font-weight: 700;font-size: 18px; line-height: 25px; color: var(--flymov-blue-primary); border-bottom: 1px solid var(--flymov-gray); text-transform: uppercase;}
.article_oportunidade_box .title_opotunidade{min-height: 80px; font-style: normal; font-weight: 500;font-size: 14px;line-height: 25px; color:var(--flymov-blue-primary); text-transform: none;}
.article_oportunidade_box .text{ font-style: normal;font-weight: 500;font-size: 12px;line-height: 25px; color: var(--flymov-gray);}
.article_oportunidade_box .text b{font-weight: 700;}

.article_oportunidade_box .link{display: flex; position: absolute; bottom: 0; right: 0;}
.article_oportunidade_box .link a{ padding: 10px 11px; display: flex; text-align: center; align-items: center; justify-content: center; background: #F4F4F4;mix-blend-mode: multiply;border-radius: 10px;}
.article_oportunidade_box .link img{display: inline-block; margin: 0; padding: 0;}

.border_yellow{ border-color: #E5A923; }
.border_green{ border-color: #03A687; }
.border_red{ border-color: #DA1C5C; }


/*FOOTER*/
.main_footer{}
.main_footer .container{border-top: 1.5px solid var(--flymov-gray-light);}
.main_footer ul{ list-style: none; margin: 0; padding:0;}
.main_footer .footer_parcerias{}
.main_footer .footer_parcerias h3{font-style: normal;font-weight: 500;font-size: 16px;line-height: 19px;text-align: center;text-transform: capitalize;color: var(--flymov-gray); mix-blend-mode: normal;}

.main_footer .footer_contact{ color: var(--flymov-gray); }
.main_footer .footer_contact h3{color: var(--flymov-blue-primary); text-transform: uppercase; font-size: 16px;}
.main_footer .footer_contact li{font-size: 13px; display: flex; padding: 5px 0;}
.main_footer .footer_contact li span{padding-left: 5px}
.main_footer .footer_contact h4{font-style: normal;font-weight: 500;font-size: 16px; padding-left:13px;line-height: 19px;text-transform: capitalize;color: var(--flymov-gray); mix-blend-mode: normal;}
.main_footer .footer_contact .list_social{display: flex;}
.main_footer .footer_contact .list_social li{margin: 2px; padding-left: 5px}
.main_footer .footer_contact .list_social li:last-of-type{margin-left: 0;}
.main_footer .footer_contact .list_social .list_social_item{ width: 40px; height: 40px; display:inline-block; cursor: pointer;}
.main_footer .footer_contact .list_social .list_social_item h6{display: none;}

.main_footer .footer_contact .list_social .list_social_item.facebook{background-image: url('./assets/images/icons/facebook.png'); background-repeat: no-repeat;}
.main_footer .footer_contact .list_social .list_social_item.facebook:hover{background-image: url('./assets/images/icons/facebook-h.png'); background-repeat: no-repeat; transition: 0.2s;}
.main_footer .footer_contact .list_social .list_social_item.instagram{background-image: url('./assets/images/icons/instagram.png'); background-repeat: no-repeat;}
.main_footer .footer_contact .list_social .list_social_item.instagram:hover{background-image: url('./assets/images/icons/instagram-h.png'); background-repeat: no-repeat; transition: 0.2s;}
.main_footer .footer_contact .list_social .list_social_item.twitter{background-image: url('./assets/images/icons/twitter.png'); background-repeat: no-repeat;}
.main_footer .footer_contact .list_social .list_social_item.twitter:hover{background-image: url('./assets/images/icons/twitter-h.png'); background-repeat: no-repeat; transition: 0.2s;}
.main_footer .footer_contact .list_social .list_social_item.youtube{background-image: url('./assets/images/icons/youtube.png'); background-repeat: no-repeat;}
.main_footer .footer_contact .list_social .list_social_item.youtube:hover{background-image: url('./assets/images/icons/youtube-h.png'); background-repeat: no-repeat; transition: 0.2s;}

.icon-clock{padding-left: 30px;
    background-image: url('./assets/images/icons/clock.png');
    background-repeat: no-repeat;
    background-size: 24px;
}